/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}


/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 5px 0 0 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline-block;
    margin-right: 20px;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
}


/* Banner styles */
.banner {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

.banner-content {
    max-width: 600px;
    margin: 0 auto;
}

.banner-content h1 {
    color: #333;
    margin-bottom: 20px;
}

.banner-content p {
    color: #666;
    margin-bottom: 20px;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Main styles */
main {
    margin-top: 30px;
    padding: 20px;
    flex-grow: 1;
}

/* section styles */
section {
    padding: 10px;
}

/* Hero Section */
.hero {
    margin-top: 50px;
    padding: 0 50px;
}

.hero-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
}

.hero-text {
    flex: 1;
    margin-right: 20px;
    text-align: right;
}

.hero-text h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text p {
    margin-bottom: 20px;
}


.hero-image {
    flex: 1;
    margin-left: 20px;
}

.hero-image img {
    float: right;
    width: 80%;
    height: 300px;
    border-radius: 5px;
}

/* Services styles */
.services {
    margin-top: 50px;
    padding: 0 50px;
}

.services h2 {
    margin-bottom: 30px;
    text-align: center;
}

.services-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: calc(33.33% - 20px);
    margin-bottom: 30px;
    text-align: center;
}

.service img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

/* About styles */
.about {
    margin-top: 50px;
    padding: 0 50px;
}

.about h2 {
    margin-bottom: 30px;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse
}

.about-text {
    flex: 1;
    margin-right: 20px;
}


.about-text p {
    margin-bottom: 20px;
}

.about-img img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

/* Call to Action Section */
.cta {
    color: #333;
    margin-top: 50px;
    padding: 0 50px;
    position: relative;
    overflow: hidden;
}

#cta-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
    margin: 0 5%;
}

.cta-content {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 50px 0;
}

.cta-content h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}


/* Contact styles */
.contact {
    margin-top: 50px;
    padding: 0 50px;
}

.contact h2 {
    margin-bottom: 30px;
    text-align: center;
}

.contact-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form {
    flex: 1;
    margin-right: 20px;
}

.contact-form h3 {
    margin-bottom: 20px;
    text-align: center;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #555;
}

.contact-info {
    background-color: #f4f4f4;
    padding: 2.8rem;
    flex: 1;
    margin-left: 20px;
    text-align: center;
}

/* Footer styles */
footer {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    margin-top: 50px;
}

.footer-social {
    text-align: center;
    margin-bottom: 20px;
}

.footer-social ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.cp-rights {
    text-align: center;
    margin-top: 5px;
    padding: 5px 0;
}

.cp-link {
    color: #31efa6;
    text-decoration: none;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header {
        font-size: 0.8em;
    }

    .menu ul li {
        margin-right: 5px;
        font-size: 10px;
    }

    main {
        padding: 1em;
    }

    .hero-content {
        flex-direction: column-reverse;
    }

    .hero-text,
    .hero-image {
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .hero-text h3 {
        margin-top: 20px;
        font-size: 2em;
    }

    .hero-image img {
        float: none;
        width: 100%;
        height: auto;
    }

    .services-content {
        flex-direction: column;
    }

    .service {
        width: 100%;
    }

    .about-content {
        flex-direction: column-reverse;
    }

    .about-text,
    .about-img {
        margin: 0;
        text-align: center;
    }

    .about-img img {
        width: 100%;
        height: auto;
    }

    .cta-content {
        padding: 20px 0;
    }

    .cta-content h3 {
        font-size: 1.5em;
    }

    .contact-content {
        flex-direction: column;
    }

    .contact-form {
        margin-bottom: 10px;
        flex: 1;
    }

    .contact-info {
        margin: 20px 0;
        padding: 20px;
        flex: 1;
    }

    .contact-form input,
    .contact-form textarea {
        width: 100%;
    }

}